<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAInRnYa52ZrkdtxZ1wlnFUfMAlOMntV_8</string>
	<key>GCM_SENDER_ID</key>
	<string>732201591083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-3bfcc</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-3bfcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732201591083:ios:f995aca1ee3327d95a656e</string>
</dict>
</plist>